.navbar-brand > img{
    width: 3.5rem;
    height: 3.5rem;
}
.navbar{
    background-color: var(--background-color) !important;
}
.nav-link{
    color: var(--second-color) !important;
    font-weight: 500;
}
.icon-button{
    color: var(--second-color);
}