
.banner{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    background-color: var(--background-color);
}
.swipe-slide{
    margin-bottom: 15px;
}
#home-slide{
    display: block;
}
#carouselExampleInterval > div > div > img{
    width: 100%;
    max-height: 500px !important;
}
.react-tabs__tab-list{
    display: flex;
    justify-content: center;
}
.card-img-top{
    height: 100%;
    max-height: 300px;
}
.card-title{
    color: var(--second-color);
}
.card-text{
    font-size: 0.8rem;
    color: var(--second-color-light);
}
.btn-datve{
    background: linear-gradient(to right, var(--main-color), var(--second-color));
    color: white;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.btn-datve:hover{
    background: linear-gradient(to left, var(--main-color), var(--second-color));
    color: var(--background-color);
}

.react-tabs__tab-list{
    border-bottom: none !important;
}
.react-tabs__tab{
    border: none !important;
    color: var(--second-color-light);
    font-weight: 500;
}

.react-tabs__tab--selected{
    border-radius: 0 !important;
    background: none !important;
    border-right: 2px solid var(--second-color) !important;
    color: var(--second-color) !important;
}

