body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root{
  --main-color: #011f4b;
  --second-color: #03396c;
  --main-color-light: #005b96;
  --second-color-light: #6497b1;
  --background-color-dark: #b3cde0;
  --background-color: 	#e4edf2;
  --border-color: #cacaca;
  --border-color-dark: #808080;
}
